@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* header */
header {
    padding: 30px 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.logo {
    font-size: 38px;
    font-weight: 700;
    color: #385F96;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: #385F96;
}

/* main section */
/* hero section */
img {
    max-width: 100%;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 30px 0;
    margin-bottom: 130px;
}

.hero-content {
    flex-basis: 60%;
}

.hero-img {
    flex-basis: 40%;
}

/* .hero-wrapper > * {
    flex-basis: 100%;
} */

.hero-section {
    padding: 50px 0;
}

.hero-content h2 {
    position: relative;
    font-size: 42px;
    font-weight: 700;
    margin: 10px 0;
    color: #385F96;
}

.hero-content h2::before {
    content: "";
    width: 179px;
    height: 186px;
    background-image: url("images/image-4.png");
    background-size: cover;
    position: absolute;
    top: -90px;
    left: -64px;
    z-index: -1;
}

.hero-bolb::after {
    content: "";
    width: 80px;
    height: 5px;
    background-color: #44D1D9;
    position: absolute;
    top: -3px;
    left: 3px;
}

.hero-content p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    background-color: #385F96;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 33px;
    border-radius: 10px;
}

/* footer */
footer{
background-color: #6DDBE1;
}

.footer{
    display: flex;
    align-items: center;
    flex-basis: 100%;
    margin: 0 60px;
}

.footer-content {
    flex-basis: 60%;
}


.footer-img {
    flex-basis: 40%;
}

.footer-content h2 {
    position: relative;
    font-size: 42px;
    font-weight: 700;
    margin: 10px 0;
    color: #385F96;
}

.footer-content h2::before {
    content: "";
    width: 179px;
    height: 186px;
    background-image: url("images/image-5.png");
    background-size: cover;
    position: absolute;
    top: -90px;
    left: -64px;
    z-index: -1;
}

footer p{
    text-align: center;
    background-color: #385F96;
    padding: 10px 0;
    color: white;
}

.love{
    color: hsl(4, 86%, 51%);
}