@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* header */

header {
    padding: 30px 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.logo {
    font-size: 38px;
    font-weight: 700;
    color: #385F96;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: #385F96;
}

/* hero section */

img {
    max-width: 100%;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 30px 0;
    margin-bottom: 130px;
}

.hero-content,
.hero-text {
    flex-basis: 60%;
}

.hero-img {
    flex-basis: 40%;
}

/* .hero-wrapper > * {
    flex-basis: 100%;
} */

.hero-section {
    padding: 50px 0;
}

.hero-content h2 {
    position: relative;
    font-size: 42px;
    font-weight: 700;
    margin: 10px 0;
    color: #385F96;
}

.hero-content h2::before {
    content: "";
    width: 179px;
    height: 186px;
    background-image: url("images/image-4.png");
    background-size: cover;
    position: absolute;
    top: -90px;
    left: -64px;
    z-index: -1;
}

.hero-content p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-text h2 {
    position: relative;
    font-size: 42px;
    font-weight: 700;
    margin: 10px 0;
    color: #385F96;
}

.hero-text h2::before {
    content: "";
    width: 15%;
    height: 5px;
    background-color: aqua;
    background-size: cover;
    position: absolute;
    top: -8px;
    left: 7px;
    z-index: -1;
}

.hero-text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    background-color: #385F96;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 33px;
    border-radius: 10px;
}

/* footer */

footer {
    background-color: #6DDBE1;
}

.footer {
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    margin: 0 60px;
}

.footer-text {
    flex-basis: 60%;
    margin-left: 100px;
}

.footer-text h2 {
    position: relative;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 700;
}

.footer-text h2::before {
    content: "";
    width: 170px;
    height: 160px;
    background-image: url(images/image-5.png);
    background-size: cover;
    position: absolute;
    top: -92px;
    left: -59px;
}

.footer-img {
    flex-basis: 40%;
}

footer p {
    text-align: center;
    background-color: #385F96;
    padding: 10px 0;
    color: white;
}

.love {
    color: hsl(4, 86%, 51%);
}


/*------ media scrteen -------*/

@media (max-width: 600px) {
    .logo {
        margin: 0 auto;
        font-size: 24px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        justify-content: center;
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
    }

    .hero-content h2 {
        font-size: 30px;
    }

    .hero-content h2::before {
        content: "";
        width: 169px;
        height: 159px;
        background-image: url(images/image-4.png);
        background-size: cover;
        position: absolute;
        top: -103px;
        left: -65px;
        z-index: -1
    }

    .hero-content p {
        font-size: 14px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        margin: 0 60px;
    }

    .footer-content h2 {
        font-size: 38px;
        margin: 20px 0;
    }

    .footer-img {
        margin-top: 20px;
    }

    .footer-text h2::before {
        content: "";
        width: 171px;
        height: 160px;
        background-image: url(images/image-5.png);
        background-size: cover;
        position: absolute;
        top: -91px;
        left: -56px;
    }

}